.see {
  background-color: rgb(230, 233, 235);
  min-height: 100vh;

  .container-fluid {
    background-color: rgb(204, 224, 233);
  }

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 200px;
    text-align: center;
  }
  p.ex1 {
    padding-left: 50px;
    font-size: 26px;
  }

  .vk1 {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-left: 300px;
  }
  .course1 {
    color: #4b1223;
  }

  .dropbtn {
    background-color: #aa0404;
    text-decoration-color: white;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin: auto;
  }

  h2 {
    padding-left: 300px;
    font-family: "Lucida Console", "Courier New", monospace;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #626360;
  }

  .dropdown-holder {
    display: flex;
    flex-direction: column;
  }
  body {
    background-color: #9ed5c5;
  }
  .nav1 {
    // padding-left: 12%;
    width: fit-content;
    margin: auto;
    padding-top: 5%;
    display: flex;
  }

  .body {
    padding-top: 4%;
  }
  .dept {
    padding-left: 6%;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .main {
    display: flex;
    padding-top: 3%;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
  }

  .dropdown {
    padding-bottom: 50px;
  }

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 210px;
  }
  h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 200px;
  }
  p.ex1 {
    padding-left: 50px;
    font-size: 26px;
  }
  .main {
    display: flex;
  }
  .dropbtn {
    background-color: #aa0404;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  .nav1 {
    // padding-left: 12%;
    padding-top: 5%;
    display: flex;
  }
  .upload {
    margin-left: 4% !important;
    display: flex;
    margin-left: 200%;
  }

  .dept {
    padding-left: 6%;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .h4 {
    color: orangered;
  }
  .hi {
    // display: flex;
    padding-top: 6%;
    // margin-left: 20%;
    // width: fit-content;
    margin-left: 33rem;
  }

  .dropdown1 {
    position: relative;
    display: flex;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #626360;
  }

  #heading {
    display: flex;
    // padding-right: 400px !important;
    text-align: center;
    justify-content: center;
    margin-left: -40%;
  }
  h1 {
    font-family: Arial, Helvetica, sans-serif;

    padding-left: 210px;
  }
  h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    padding-left: 200px;
  }
  p.ex1 {
    padding-left: 50px;
    font-size: 26px;
  }
  .main {
    display: flex;
    gap: 20px;
  }
  .dropbtn {
    background-color: #aa0404;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  .nav1 {
    // padding-left: 12%;
    padding-top: 5%;
    display: flex;
  }
  .dept {
    padding-left: 6%;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .dropdown1 {
    position: relative;
    display: flex;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #626360;
  }
  h1 {
    text-align: center;
    color: #4b1223;
    display: flex;
    justify-content: center;
  }
  h2 {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  p.ex1 {
    padding-left: 50px;
    font-size: 26px;
  }
  .dropbtn {
    background-color: #aa0404;
    color: orange;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  .vj {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  body {
    background-color: #98a8f8;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #626360;
  }
}
